/* ProjectGallery.css */

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-decoration: none;
  }
  
  .project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20vh;
    text-decoration: none;
  }
  
  .project-box {
    width: calc(33.33% - 20px);
    margin: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
  
  .project-box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .project-box h3 {
    margin-top: 10px;
    font-size: 18px;
    text-decoration: none;
  }
  
  .project-box p {
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
  }
  
  .create-project {
    position: fixed;
    top: 100px;
    right: 20px;
    background-color: #afd06e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-project a {
    color: #fff;
    text-decoration: none;
  }
  
  .create-project:hover {
    background-color: #437118;
  }
  